# VCS / IDE / caches
.venv/
.vscode/
.idea/
__pycache__/
.ipynb_checkpoints/
.pytest_cache/
*.pyc
*.pyo
*.pyd

# Project data & artifacts
data/*
!data/.gitkeep
mlruns/*
!mlruns/.gitkeep
mlflow.db
logs/*

# Ignore heavy formats only under data/**
data/**/*.parquet
data/**/*.feather
data/**/*.arrow
data/**/*.csv
data/**/*.json
data/**/*.jsonl
data/**/*.zip
data/**/*.gz
data/**/*.png
data/**/*.jpg
data/**/*.jpeg
data/**/*.svg

# OS
.DS_Store
Thumbs.db
