# VCS / venv / caches
.git
.venv
.vscode
.idea
__pycache__/
.ipynb_checkpoints/
.pytest_cache/
*.pyc
*.pyo
*.pyd
*.log

data/*
!data/.gitkeep
mlruns/*
!mlruns/.gitkeep

*.parquet
*.feather
*.arrow
*.csv
*.json
*.jsonl
*.zip
*.gz
*.png
*.jpg
*.jpeg
*.svg
